node_modules
dist
/scraper/output
!/scraper/output/.gitkeep
.env

.react-router/
/build/
/src/build/
nearby.json

.DS_Store
/node_modules/
*.tsbuildinfo

# Cloudflare
.mf
.wrangler
.dev.vars*
src/worker-configuration.d.ts

!.dev.vars.example
!.env.example
